html, body, #root {
  height: 100%;
}
li{
  list-style: none;}
#root {
  display: grid;
  grid-template-rows: 58px 1fr 100px;
text-decoration: none;

} 
.error-red{color:rgba(251, 84, 69, 0.835) }
.vista-container{
  height: 100vh;
  display: flex;
  /* flex-wrap: wrap; */
  margin: auto;
  align-items: center;
  justify-content: center;
}
  #chat-container, #inner-chat{
    min-height: 100vh;
  }
.avatar-chat {
  border-radius: 50%;
  max-width: 20%;
}
.avatar-profile {
  border-radius: 50%;
  max-width: 50%;
}