html, body, #root {
  height: 100%;
}

#root {
  display: grid;
  grid-template-rows: 58px 1fr 100px;
} 
.vista-container{
  height: 100vh;
  display: flex;
  /* flex-wrap: wrap; */
  margin: auto;
  align-items: center;
  justify-content: center;
}
  
